body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: teal;
}
.main{
    background-color: teal;
    width: 100%;
    max-width: 410px;
    padding: 25px;
    margin: 8px;
    border-radius: 12px;
    box-shadow: 0 8px 16px;
}